<!DOCTYPE html>
<html>
  <head>
    <title>GeospatialTest</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=b1ddfaeb-d542-469a-9b62-3f0157125c1b&lang=ru_RU"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
